.container-bio {
  color: #0a0a0a;
  font-family: "comfortaa";
  background-image: url(/src/img/licorneyellowbackground.svg);
  background-size: cover;
  padding: 55px 230px;
}

.container-bio p {
  font-size: 24px;
  color: #0a0a0a;
  text-align: center;
}

.container-shop {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-shop div {
  margin: auto;
  width: 70%;
}
