.container-bio {
  position: relative;
  text-align: center;
  color: #0a0a0a;
  font-family: "comfortaa";
}

.container-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
