.images-logoheader {
  width: 990px;
  height: 268px;
  flex-shrink: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.images-picto {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 100px;
  margin: 0 -35 0 -35px;
}

.images-pictobio {
}

.images-pictobiere {
}

.images-pictobottles {
}

.images-histoire {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.images-logofooter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.images-presentationbiere {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -280px;
}

.images-nosbieres {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
