.images-logoheader {
  width: 990px;
  height: 268px;
  flex-shrink: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.images-picto {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 100px;
  margin: 0 -35 0 -35px;
}

.images-histoire {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.images-logofooter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.images-pourcent {
  display: flex;
  justify-content: end;
  margin-bottom: 90px;
}

.images-bouteillesnosbiere {
  display: flex;
  justify-content: center;
}

.images-partenaires {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
