.images-logoheader {
  width: 990px;
  height: 268px;
  flex-shrink: 0;
}

.images-pictobio {
  justify-content: center;
}

.images-pictobiere {
  justify-content: center;
}

.images-pictobottles {
  justify-content: center;
}
