.text-picto {
  font-family: "raisinmuffin";
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 30px;
  padding-bottom: 65px;
  padding-left: 20px;
}

.text-infobiere {
  margin-left: 70px;
  margin-top: 40px;
}
