.text-picto {
  font-family: "raisinmuffin";
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 30px;
  padding-left: 20px;
}

.text-histoiredelabiere {
  margin-top: 50px;
}

.text-shop {
  color: #f1e60d;
  font-family: "Saira condensed";
  margin-top: 15px;
  font-size: 25px;
}

.text-newsletter {
  color: #f1e60d;
  font-family: "Saira condensed";
  text-decoration: underline;
  text-transform: uppercase;
  text-align: center;
  font-size: 35px;
  margin-top: 30px;
  margin-left: 260px;
}

.text-pcontact {
  color: #0a0a0a;
  margin-left: 20px;
}

.text-pcontact a {
  display: block;
  font-size: 24px;
}

.text-politiqueetcondition {
  text-decoration: underline;
  color: #0a0a0a;
  font-family: "Saira condensed";
  margin-left: 20px;
  font-size: 20px;
}

.text-copyright {
  color: #0a0a0a;
  font-family: "Saira condensed";
  text-align: center;
}

.text-mail {
  text-transform: lowercase;
  font-size: 15px;
  justify-content: start;
  font-family: "comfortaa";
  text-decoration: underline;
}

.text-googlemaps {
  color: #0a0a0a;
  font-size: 12px;
  font-family: "Saira condensed";
  padding-right: 40px;
}
