.text-picto {
  font-family: "raisinmuffin";
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 30px;
  padding-bottom: 65px;
  padding-left: 20px;
}

.text-histoiredelabiere {
  margin-top: 50px;
}

.text-shop {
  color: #f1e60d;
  font-family: "Saira condensed";
  margin-top: 15px;
  font-size: 25px;
}
